<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbrand">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
          </button>
          <center><a href="#page-top">amaza</a></center>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
          <ul class="navlinks">
              <li>
                  <a class="page-scroll" href="#about">About</a>
              </li>
              <li>
                  <a class="page-scroll" href="#timeline">Timeline</a>
              </li>
              <li>
                  <a class="page-scroll" href="#cool-stuff">Cool Stuff</a>
              </li>
              <li>
                  <a class="page-scroll" href="#contact">Contact</a>
              </li>
          </ul>
            <!-- <ul class="nav navbar-nav text-center">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#timeline">Timeline</a>
                </li>
                <li>
                    <a class="page-scroll" href="#cool-stuff">Cool Stuff</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul> -->
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="assets/img/profile-image.png" alt="Stephen Amaza" width="250px"/>
            <h1 id="homeHeading">Hi, I'm Stephen</h1>
            <hr>
            <p>I'm Nigerian &#8226; awesome &#8226; blah blah blah</p>
        </div>
    </div>
</header>
