html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif; }

hr {
  border-color: #bd5ecd;
  border-width: 3px;
  max-width: 50px; }

hr.light {
  border-color: white; }

a {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  color: #bd5ecd; }

a:hover,
a:focus {
  text-decoration: none;
  font-weight: bold; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  margin: 10px 0; }

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px; }

.bg-primary {
  background-color: #bd5ecd; }

.bg-dark {
  background-color: #222222;
  color: white; }

.text-faded {
  color: rgba(255, 255, 255, 0.7); }

section {
  padding: 100px 0; }

aside {
  padding: 50px 0; }

.no-padding {
  padding: 0; }

.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  transition: all 0.35s; }

.navbar-default .navbar-header .navbar-brand {
  color: #bd5ecd;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #eb3812; }

.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase; }

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222222; }

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #bd5ecd; }

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #bd5ecd !important;
  background-color: transparent; }

.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent; }

@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3); }
  .navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7); }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white; }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7); }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white; }
  .navbar-default.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05); }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: #bd5ecd;
    font-size: 14px; }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: #eb3812; }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: #222222; }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: #bd5ecd; } }

.headwrap {
  background: #000 url("../img/header.jpg") repeat-x fixed center;
  background-size: cover; }

header {
  position: relative;
  width: 100%;
  min-height: auto;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white; }

header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%; }

header .header-content .header-content-inner h1 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px; }

header .header-content .header-content-inner hr {
  margin: 30px auto; }

header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 0; }

header .header-content .header-content-inner img {
  margin: 0 0 50px;
  width: 250px; }

@media (min-width: 768px) {
  header {
    min-height: 100%; }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px; }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto; }
  header .header-content .header-content-inner h1 {
    font-size: 50px; }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; } }

@media (max-width: 768px) {
  header .header-content .header-content-inner img {
    margin: 0 0 50px; }
  .navlinks a {
    display: block;
    color: #000; } }

footer {
  background-color: #bd5ecd; }
  footer img {
    display: block;
    margin: 0 auto; }
  footer p {
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 5px;
    margin: 0; }

@media (max-width: 500px) {
  header .header-content .header-content-inner img {
    margin: 0 0 50px;
    width: 150px; } }

/**
 * Navigation
 */
@font-face {
  font-family: 'Scriptina', cursive, sans-serif;
  src: url("../fonts/scriptin.ttf"); }

.navbrand a {
  font-family: 'Scriptina', cursive, sans-serif;
  font-size: 30px;
  padding: 15px; }
  .navbrand a a:hover, .navbrand a a:focus {
    text-decoration: none; }

.navlinks {
  list-style: none;
  margin: 0;
  text-align: center;
  padding-left: 0; }

.navlinks li {
  display: inline; }

.navlinks a {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 13px;
  color: #fff; }

@media only screen and (max-width: 768px) {
  .navlinks a {
    color: #000; }
  .navlinks li {
    display: block; }
  .navlinks {
    padding-left: 0; } }

.page-scroll a:hover {
  text-decoration: none; }

.navbar-toggle {
  float: left; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent; }

/**
* Sections
**/
.banner-section {
  padding: 100px 50px; }

@media (min-width: 768px) {
  .banner-section {
    padding: 100px 350px; } }

@media (max-width: 768px) {
  .banner-section {
    padding: 40px 50px 50px; } }

.banner-section h2 {
  font-size: 40px;
  font-weight: bold;
  color: #fff; }

.banner-section h3 {
  color: #fff; }

.banner-section h4 {
  color: #000; }

.banner-section ul li {
  list-style: none;
  display: inline; }
  .banner-section ul li img {
    height: 150px; }

.banner-section ul {
  text-align: center;
  padding-left: 0; }

.wide {
  padding: 100px; }

.wide img {
  padding: 30px 0; }

#contact {
  padding: 50px; }
  #contact ul li {
    padding: 0 20px; }
    #contact ul li img {
      height: 200px; }

@media (max-width: 768px) {
  #contact ul li img {
    height: 150px; } }

@media (max-width: 500px) {
  .wide {
    padding: 30px; }
  .wide ul li img {
    height: 50px;
    padding: 5px; } }

@media (max-width: 500px) {
  #contact {
    padding: 30px; }
  #contact ul li {
    padding: 5px; }
  #contact ul li img {
    height: 50px;
    padding: 5px; } }

/**
* Colors
**/
.blue {
  background-color: #8df8fc; }

.green {
  background-color: #aaf991; }

.white {
  background-color: #fff;
  color: #fff; }

.fa-heart {
  color: #be1931; }

.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  position: relative; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #111;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }
  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }

@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }

/**
 * Page content
 */
.page-content {
  padding: 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }
